@import '../../utils/vars';

.user-info {
  border: 1px solid $borderColor;
  border-radius: 8px;
  margin-bottom: 100px;

  &__img-block {
    position: relative;
    background-image: url('/images/background_info.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: 60px;
  }

  &__img {
    position: absolute;
    border: 3px solid white;
    border-radius: 50%;
    left: 45%;
    top: 70%;
    width: 100px;
    height: 100px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.4px;
    color: $textMainColor;
    margin: 0 0 10px;
  }

  &__subtitle {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #797A84;
    margin-bottom: 80px;
  }

  &__contact-block {
    padding: 0 53px 130px;
  }

  &__contact-title {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.4px;
    color: #000000;
    margin: 0 0 14px;
  }

  &__contact-info {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 24px;

    &--margin-0 {
      margin: 0;
    }

    &--link {
      color: $mainBlueColor;
      text-decoration: underline;
    }
  }
}