@import '../../utils/vars';

.activity-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid $borderColor;
  border-radius: 8px;
  padding: 24px 32px;
  flex-grow: 1;

  &:hover {
    cursor: pointer;
    border-color: $mainBlueColor;

    .activity-block__title, .activity-block__number {
      color: $mainBlueColor;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: $tableHeaderColor;
  }

  &__number {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
    color: $textMainColor;
  }
}