@import '../../utils/vars';
@import '../../utils/mixins.scss';

.table {
  border-collapse: collapse; 
  width: 100%;

  &__thead {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $tableHeaderColor;
  }

  &__tr {
    text-align: left;
    border-bottom: 1px solid $borderColor;
  }

  &__th {
    padding: 0 32px 12px 32px;

    @include onTablet {
      padding: 10px;
    }
  }
}